<html>
    
    <head>
        <title></title>
        
    </head>
    <body>
        <h1>Registro de ususario</h1>

        <form action="/validar" method= "post">

            nombre:
            <input type="text" name="nom" id="nom"><br><br>

            numero:
            <input type="number" name="tel" id="tel"><br><br>

            cedula
            <input type="number" name="ced" id="ced"><br><br>

            

            <input type="submit" value="Registrar"> 

   
            

        </form>
        
</body>
</html>
